<p>
    {{ _("Hello") }} {{ student_name }},
</p>

{% if course_titles | length == 1 %}
<p>
    {{ _("You have been enrolled in") }} <strong>{{ course_titles[0] }}</strong>.
</p>
{% else %}
<p>
    {{ _("You have been enrolled in the following training courses:") }}
</p>
<ul>
    {% for course_title in course_titles %}
    <li>{{ course_title }}</li>
    {% endfor %}
</ul>
{% endif %}

{% if course_titles | length == 1 %}
<p>{{ _("You can access the course by logging in to Matchbox using the link below:") }}</p>
{% else %}
<p>{{ _("You can access the courses by logging in to Matchbox using the link below:") }}</p>
{% endif %}
<p>
    <a href="{{ login_url }}" rel="nofollow">{{ _("Log in to Matchbox") }}</a>
</p>

{% if end_date %}
{% if course_titles | length == 1 %}
<p>{{ _("Please complete this training by") }} <strong>{{ frappe.utils.format_date(end_date, "dd MMMM yyyy") }}</strong>.</p>
{% else %}
<p>{{ _("Please complete these trainings by") }} <strong>{{ frappe.utils.format_date(end_date, "dd MMMM yyyy") }}</strong>.</p>
{% endif %}
{% endif %}

<p>{{ _("We hope you enjoy the training and wish you a great learning experience!") }}</p>

<p>
    {{ _("Best regards,") }}<br>
    {{ _("The Matchbox Training Team") }}
</p>
