<p>{{ _("Hello") }} {{ student_name }},</p>

<p>
    {{ _("Congratulations on completing") }} <strong>{{ course_title }}</strong>.
</p>

<p>
    {{ _("Your certificate is now available in Matchbox. You can view or download it using the link below:") }}
</p>

<p style="margin: 20px 0;">
    <a href="/api/method/frappe.utils.print_format.download_pdf?doctype=LMS+Certificate&name={{certificate_name}}&format={{template | urlencode }}" class="btn btn-primary">
        {{ _("View certificate") }}
    </a>
</p>

<p>{{ _("You can also find it anytime under My Certificates.") }}</p>

<p>
    {{ _("Best regards,") }}<br>
    {{ _("The Matchbox Training Team") }}
</p>
