<p>{{ _("Hello") }} {{ student_name }},</p>
<p>
    {{ _("You have been enrolled in") }} <strong>{{ course_title }}</strong>.
</p>
{% if password_setup_url %}
{% include "lms/templates/emails/student_password_setup.html" %}
{% else %}
<p>{{ _("You can access the course by logging in to Matchbox using the link below:") }}</p>
<p>
    <a href="{{ login_url }}" rel="nofollow">{{ _("Log in to Matchbox") }}</a>
</p>
{% endif %}
<p style="margin: 20px 0;">
    <a href="{{ course_url }}" rel="nofollow" class="btn btn-primary">
        {{ _("Open Course") }}
    </a>
</p>

<p>{{ _("We hope you enjoy the training and wish you a great learning experience!") }}</p>

{% if contact_email %}
<p>
    {{ _("Questions or technical issues? Contact") }}
    <a href="mailto:{{ contact_email }}">{{ contact_email }}</a>.
</p>
{% endif %}

<p>
    {{ _("Best regards,") }}<br>
    {{ _("The Matchbox Training Team") }}
</p>
