<p>
    {{ _("Hello ") }} {{ student_name }},
</p>
<br>
<p>
    {{ _("You have been enrolled in the following training course:") }}
</p>
<br>

<p>
    <b>{{ _("Training:") }}</b> {{ course_title }}
</p>
<br>

<p>
    {{ _("You can access the course by logging in to Matchbox using the link below:") }}
</p>
<p>
    <a href="{{ get_lms_route('courses/' ~ course_name) }}">{{ _("Open Course") }}</a>
</p>
<br>

{% if due_date %}
<p>
    {{ _("Please complete the training by ") }} {{ frappe.utils.format_date(due_date, "medium") }}.
</p>
<br>
{% endif %}

{% if contact_email %}
<p>
    {{ _("If you have any questions or experience technical issues, please contact ") }}
    <a href="mailto:{{ contact_email }}">{{ contact_email }}</a>.
</p>
<br>
{% endif %}

<p>
    {{ _("We hope you enjoy the training and wish you a great learning experience!") }}
</p>
<br>
<p>
    {{ _("Best regards,") }}
</p>
<p>
    {{ _("The Matchbox Training Team") }}
</p>
